<h1 id="title">Johnny's Goodies</h1>
<h2 id="try">Try out the gifts from the SFM Himself</h2>
<h2 id="website">Sign Up For Our Newsletter to Keep Up With Our New Releases</h2>
<form class="" action="results" method="get">
  <input type="text" name="search" placeholder="Enter your Email Address">
  <input class="button" type="submit" placeholder="Enter">
</form>
