<div id="gurl">
  <div id="cake1">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2016/10/Caramel-Apple-Poke-Cake-Photo-280x420.jpg">
    <h1>Caramel Apple Poke Cake</h1>
    <p> The caramel drizzle and toffee bits make it irresistible. Perfect for fall!</p>
    <h3>$5.00</h3>
  </div>

  <div id="cake2">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2016/09/FruityPebblesWhoopiePiesStacked.jpg">
    <h1>Fruity Pebbles Whoopie Pies</h1>
    <p>Fruity Pebbles Whoopie Pies are a playful and fruity spin on a classic dessert with marshmallow buttercream and Fruity Pebbles “sprinkles”</p>
    <h3>$4.50</h3>
  </div>

  <div id="cake3">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2016/09/espressocakerecipephoto-290x435.jpg">
    <h1>Mocha Coffee Cake</h1>
    <p>This Mocha cake is swirled with chocolate and topped with an espresso crumb topping. The Kahlua ganache makes it absolutely irresistible.</p>
    <h3>$5.50</h3>
  </div>

  <div id="cake4">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2008/11/Moist-Banana-Cake-Image-280x420.jpg">
    <h1>Moist Banana Cake</h1>
    <p>Moist Banana Cake that’s good for breakfast or an afternoon pick-me-up. Grab a cup of coffee and dig in!</p>
    <h3>$5.00</h3>
  </div>

  <div id="cake5">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2019/04/Carrot-Cake-7_resized-290x435.jpg">
    <h1>Carrot Cake</h1>
    <p>Our take on traditional carrot cake full of carrots, pineapple and coconut, and soaked with a buttermilk syrup for a melt-in-your-mouth slice of cake.</p>
    <h3>$5.50</h3>
  </div>

  <div id="cake6">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2017/09/Triple-Berry-Banana-Bread-2-MBA-280x420.jpg">
    <h1>Triple Berry Banana Bread</h1>
    <p>Triple Berry Banana Bread is a fun, fruity twist on the beloved classic. With blackberries, blueberries, raspberries, and a simple lemon glaze, this banana bread is one for the books!</p>
    <h3>$5.00</h3>
  </div>

</div>
