<div id="monster">
  <div id="cook1">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2018/03/Banana-Oatmeal-Cookies-Recipe-Pic-290x435.jpg" >
    <h1>Banana Oatmeal Cookies</h1>
    <p>Banana Oatmeal Cookies are soft, chewy and studded with chocolate. Pair them with a mug of your favorite coffee for breakfast, or serve them up for dessert!</p>
    <h3>$2.00</h3>
  </div>

  <div id="cook2">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2011/12/Peanut-Butter-Blossoms-_resized-290x435.jpg" >
    <h1>Peanut Butter Blossoms</h1>
    <p>A peanut butter sugar cookie with a chocolate kiss pressed into the middle.</p>
    <h3>$1.50</h3>
  </div>

  <div id="cook3">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2017/12/Cookies-N-Creme-Cookies-Recipe-Image-HR-290x435.jpg" >
    <h1>Cookies 'N' Cream Cookies</h1>
    <p>Cookies n' Creme Cookies are bursting with big flavor thanks to white chips and chocolate cookie bits.</p>
    <h3>$2.50</h3>
  </div>

  <div id="cook4">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2016/09/Pumpkin-Dark-Chocolate-Cranberry-Cookies-Picture1-280x420.jpg" >
    <h1>Pumpkin Dark Chocolate Cranberry Cookies</h1>
    <p>Pumpkin Dark Chocolate Cranberry Cookies made with pumpkin, tart dried cranberries, and delicious dark chocolate chips. Meet your new favorite fall cookie!</p>
    <h3>$3.00</h3>
  </div>

  <div id="cook5">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2016/07/blueberry-muffin-top-cookies-1-1500-2-280x420.jpg" >
    <h1>Blueberry Muffin Top Cookies</h1>
    <p>Blueberry Muffin Top Cookies are covered in streusel and drizzled with a lemon glaze. They’re perfect for breakfast, dessert, or a midday snack. And they're Gluten-Free!</p>
    <h3>$2.50</h3>
  </div>

  <div id="cook6">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2018/11/Easy-Snickerdoodle-Cookies-Photo-290x435.jpg" >
    <h1>Snickerdoodle Cookies</h1>
    <p>Snickerdoodle Cookies are a fun holiday classic. Always a big hit at holiday cookie exchanges.</p>
    <h3>$2.00</h3>
  </div>

</div>
