<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Let's Get This Bread</title>
    <% if request.path == "/" %>
      <link rel="stylesheet" href="main2.css">
    <% else %>
      <link rel="stylesheet" href="main.css">
    <% end %>
  </head>
  <body>
    <nav>
      <ul>
        <div class="try">

        <li><a href="/">Home</a></li>
        <li><a href="cookies">Cookies</a></li>
        <li><a href="muffins">Muffins</a></li>
        <li><a href="/"><img src="https://i.pinimg.com/originals/44/fa/b7/44fab70348c532174bf51070ec9fbd25.jpg"></a></li>
        <li><a href="cakes">Cakes</a></li>
        <li><a href="events">Events</a></li>
      </div>
      <div class="websites">
        <li><a href="https://www.facebook.com/"><img src="https://image.flaticon.com/icons/png/512/124/124010.png"></a></li>
        <li><a href="https://www.instagram.com/"><img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png"></a></li>
        <li><a href="https://twitter.com/"><img src="https://www.mappingmegan.com/wp-content/uploads/2017/01/twitter-logo-png-transparent-background-twitter-transparent-logo-png-1024x1024.png"></a></li>
      </div>

      </ul>
    </nav>

    <footer></footer>
    <script src="main.js" charset="utf-8"></script>
    <%= yield %>
  </body>
</html>
