<div id="muffinman">
  <div id="muff">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2012/05/Blueberry-Doughnut-Muffins-Image-290x435.jpg">
    <h1>Blueberry Doughnut Muffin</h1>
    <p>Tender blueberry muffins double dipped in a sugary lemon glaze.</p>
    <h3>$2.00</h3>
  </div>

  <div id="muff">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2017/04/Blueberry-Walnut-Muffins-Photo-290x435.jpg">
    <h1>Blueberry Walnut Muffin</h1>
    <p>Blueberry Walnut Muffins rise high and mighty, making them a site to behold. This is the breakfast muffin you've been waiting for!</p>
    <h3>$4.50</h3>
  </div>

  <div id="muff">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2015/08/jellydonutmuffinsrecipe-300x450.jpg">
    <h1>Jelly Doughnut Muffin</h1>
    <p>Fluffy on the outside with a jelly center and dusting of powdered sugar</p>
    <h3>$2.25</h3>
  </div>

  <div id="muff">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2015/01/gluten-free-cranberry-orange-muffins-1-290x435.jpg">
    <h1>Gluten-Free Cranberry Orange Muffin</h1>
    <p>For a change of pace, try these honey sweetened gluten-free cranberry orange muffins! They stay soft for days, making them an ideal make-ahead breakfast.</p>
    <h3>$3.00</h3>
  </div>

  <div id="muff">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2016/05/Strawberry-Cinnamon-Roll-Muffins-1-1-300x450.jpg">
    <h1>Strawberry Cinnamon Roll Muffin</h1>
    <p>Strawberry Cinnamon Roll Muffins are everything you love about a fruity, sweet cinnamon roll, but in a fraction of the size. The perfect sweet breakfast!</p>
    <h3>$3.00</h3>
  </div>

  <div id="muff">
    <img src="https://www.mybakingaddiction.com/wp-content/uploads/2013/03/2BananaCrumbMuffins.jpg">
    <h1>Banana Crumb Muffin</h1>
    <p>Moist and flavorful banana muffins finished with a sweet and crunchy crumb topping.</p>
    <h3>$3.50</h3>
  </div>

</div>
