body {
  background-image: url('https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 42px 75px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
}

nav img {
  height: 130px;
  width: 130px;
}
