body {
  background-image: url('https://i.pinimg.com/originals/21/20/34/212034a4eab9075633f9cbfdcac1543e.jpg');
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: -13px;
}

li {
  float: left;
  height: 100px;
}

.try a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px 60px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
}

nav img {
  margin-top: -40px;
  height: 125px;
  width: 150px;
}

h1 {
  color: #f5f5dc;
  font-size: 100px;
  font-family: Marker Felt, fantasy;
}

h2 {
  color: #f5f5dc;
  font-size: 50px;
  font-family: Marker Felt, fantasy;
}



.websites img {
  height: 25px;
  width: 25px;
  margin: 44px 10px;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  padding: 13px;
}

.button:hover {
  background-color: pink;
}

.secret {
  margin-right: 700px;
}
