body {
  text-align: center;
  font-family: sans-serif;
  background-color: #fff8dc
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: -13px;
}

li {
  float: left;
  height: 85px;
}

.try a {
  display: block;
  color: white;
  text-align: center;
  padding: 29px 60px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
}

nav img {
  height: 150px;
  width: 150px;
}

h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

#monster {
  padding-top: 5%;
  display: grid;
  grid-template: 500px 500px / 500px 500px 500px;
}

#monster img {
  margin-left: 20px;
  height: 275px;
  width: 275px;
}

#gurl {
  padding-top: 5%;
  display: grid;
  grid-template: 500px 500px / 500px 500px 500px;
}

#gurl img {
  margin-left: 20px;
  height: 275px;
  width: 275px;
}

#muffinman {
  padding-top: 5%;
  display: grid;
  grid-template: 500px 500px / 500px 500px 500px;
}

#muffinman img {
  margin-left: 20px;
  height: 275px;
  width: 275px;
}
